.list {
  width: calc(33% - 20px);
  border: 1px solid black;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 10px;
  height: 300px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}
